/* line 4, ../../resources/assets/sass/app.scss */
.logo {
  margin-top: 10px;
  margin-right: 15px;
  width: 70px;
  float: left;
}

/* line 11, ../../resources/assets/sass/app.scss */
.navbar-default {
  background-color: #333;
}
/* line 14, ../../resources/assets/sass/app.scss */
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 300;
}

/* line 20, ../../resources/assets/sass/app.scss */
#navbar ul li a {
  color: #fff;
}

/* line 24, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable {
  cursor: pointer;
}
/* line 27, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable:hover {
  background-color: rgba(144, 195, 212, 0.5);
}
/* line 31, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable.active > td {
  background-color: rgba(144, 195, 212, 0.75);
}

/* line 36, ../../resources/assets/sass/app.scss */
.form-item {
  margin-bottom: 1em;
}
/* line 38, ../../resources/assets/sass/app.scss */
.form-item label {
  display: block;
  margin-right: 0.5em;
}
/* line 43, ../../resources/assets/sass/app.scss */
.form-item input[type="text"],
.form-item input[type="phone"],
.form-item input[type="email"] {
  display: block;
  width: 100%;
  padding: 2.5px 5px;
}

/* line 52, ../../resources/assets/sass/app.scss */
.toolbar {
  margin: 0.5em 0 1.5em 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/* line 57, ../../resources/assets/sass/app.scss */
.toolbar.buttons {
  margin: 0 0 1em 0;
}

/* line 66, ../../resources/assets/sass/app.scss */
.toolbar-item {
  float: left;
  margin-right: 0.5em;
}
/* line 70, ../../resources/assets/sass/app.scss */
.toolbar-item.right {
  margin-left: 0.5em;
  float: right;
}
/* line 73, ../../resources/assets/sass/app.scss */
.toolbar-item.right:last-child {
  margin-left: 0;
}

/* line 78, ../../resources/assets/sass/app.scss */
.loading-indicator {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
  text-align: center;
}
/* line 91, ../../resources/assets/sass/app.scss */
.loading-indicator.ng-hide {
  opacity: 0;
}
/* line 95, ../../resources/assets/sass/app.scss */
.loading-indicator .loading-title {
  margin: 0 auto;
  font-size: 22px;
  font-weight: normal;
}
/* line 101, ../../resources/assets/sass/app.scss */
.loading-indicator .loading-indicator-body {
  position: relative;
  top: 45%;
}
/* line 106, ../../resources/assets/sass/app.scss */
.loading-indicator .wave-spinner {
  margin: 25px auto;
}

/* line 111, ../../resources/assets/sass/app.scss */
.red {
  color: red;
}

/* line 115, ../../resources/assets/sass/app.scss */
.green {
  color: #5cb85c;
}

/* line 119, ../../resources/assets/sass/app.scss */
.ngdialog-content {
  text-align: center;
}

/* line 123, ../../resources/assets/sass/app.scss */
.icon-large {
  font-size: 28px;
  margin: 0;
  position: relative;
  top: 8px;
  margin-right: 1em;
}

/* line 131, ../../resources/assets/sass/app.scss */
.icon-float {
  float: left;
}

/* line 137, ../../resources/assets/sass/app.scss */
.ngdialog.ngdialog-theme-default.dialog-save .ngdialog-content {
  min-height: 72px;
  width: 375px;
}

/* line 143, ../../resources/assets/sass/app.scss */
.dialog-buttons {
  margin: 1em 0 0 0;
}

/* line 147, ../../resources/assets/sass/app.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 153, ../../resources/assets/sass/app.scss */
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 157, ../../resources/assets/sass/app.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 161, ../../resources/assets/sass/app.scss */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 169, ../../resources/assets/sass/app.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 173, ../../resources/assets/sass/app.scss */
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 179, ../../resources/assets/sass/app.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 185, ../../resources/assets/sass/app.scss */
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
}

/* line 190, ../../resources/assets/sass/app.scss */
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* line 197, ../../resources/assets/sass/app.scss */
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 207, ../../resources/assets/sass/app.scss */
.need-help {
  margin-top: 10px;
}

/* line 211, ../../resources/assets/sass/app.scss */
.new-account {
  display: block;
  margin-top: 10px;
}

/* line 217, ../../resources/assets/sass/app.scss */
.pull-left.checkbox {
  position: relative;
  left: 20px;
}

/* line 223, ../../resources/assets/sass/app.scss */
.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 229, ../../resources/assets/sass/app.scss */
.navbar-header {
  float: left;
  padding-left: 15px;
}

/* line 234, ../../resources/assets/sass/app.scss */
.navbar-brand {
  height: 50px;
  padding: 0 15px;
  font-size: inherit;
  line-height: 50px;
}

/* line 241, ../../resources/assets/sass/app.scss */
.navbar-nav {
  float: left;
  margin: 0;
}

/* line 246, ../../resources/assets/sass/app.scss */
.navbar-nav > li {
  float: left;
}

/* line 250, ../../resources/assets/sass/app.scss */
.navbar-nav > li > a {
  padding: 0 15px;
  line-height: 50px;
}

/* line 255, ../../resources/assets/sass/app.scss */
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
