/* line 4, ../../resources/assets/sass/app.scss */
.logo {
  margin-top: 10px;
  margin-right: 15px;
  width: 70px;
  float: left;
}

/* line 11, ../../resources/assets/sass/app.scss */
.navbar-default {
  background-color: #333;
}
/* line 14, ../../resources/assets/sass/app.scss */
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 300;
}

/* line 20, ../../resources/assets/sass/app.scss */
#navbar ul li a {
  color: #fff;
}

/* line 26, ../../resources/assets/sass/app.scss */
.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6 {
  padding-left: 0;
}

/* line 30, ../../resources/assets/sass/app.scss */
table {
  margin-left: 10px;
}

/* line 33, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable {
  cursor: pointer;
}
/* line 36, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable:hover {
  background-color: rgba(144, 195, 212, 0.5);
}
/* line 40, ../../resources/assets/sass/app.scss */
table > tbody > tr.clickable.active > td {
  background-color: rgba(144, 195, 212, 0.75);
}

/* line 45, ../../resources/assets/sass/app.scss */
.form-item {
  margin-bottom: 1em;
}
/* line 47, ../../resources/assets/sass/app.scss */
.form-item label {
  display: inline-block;
  margin-right: 0.5em;
}
/* line 52, ../../resources/assets/sass/app.scss */
.form-item input[type="text"],
.form-item input[type="phone"],
.form-item input[type="email"] {
  display: block;
  width: 100%;
  padding: 2.5px 5px;
}
/* line 61, ../../resources/assets/sass/app.scss */
.form-item.required label {
  position: relative;
}
/* line 64, ../../resources/assets/sass/app.scss */
.form-item.required label:after {
  content: "*";
  color: red;
  position: absolute;
  right: -15px;
  top: 0px;
  height: 10px;
  width: 10px;
}
/* line 74, ../../resources/assets/sass/app.scss */
.form-item .bootstrap-switch {
  display: block;
}
/* line 77, ../../resources/assets/sass/app.scss */
.form-item:nth-child(2n+1) {
  clear: left;
}

/* line 81, ../../resources/assets/sass/app.scss */
.toolbar {
  margin: 0.5em 0 1.5em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
/* line 86, ../../resources/assets/sass/app.scss */
.toolbar.buttons {
  margin: 0 0 1em 0;
}

/* line 97, ../../resources/assets/sass/app.scss */
.toolbar-item:first-child {
  padding-left: 0;
}

/* line 101, ../../resources/assets/sass/app.scss */
.right {
  margin-left: 0.5em;
  float: right;
  width: auto;
}
/* line 106, ../../resources/assets/sass/app.scss */
.right:last-child {
  margin-left: 0;
}

/* line 110, ../../resources/assets/sass/app.scss */
.busy-indicator {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  opacity: 1;
  text-align: center;
}
/* line 124, ../../resources/assets/sass/app.scss */
.busy-indicator.ng-hide {
  opacity: 0;
}
/* line 128, ../../resources/assets/sass/app.scss */
.busy-indicator .loading-title {
  margin: 0 auto;
  font-size: 22px;
  font-weight: normal;
}
/* line 134, ../../resources/assets/sass/app.scss */
.busy-indicator .loading-indicator-body {
  position: relative;
  top: 45%;
}
/* line 139, ../../resources/assets/sass/app.scss */
.busy-indicator .wave-spinner {
  margin: 25px auto;
}

/* line 144, ../../resources/assets/sass/app.scss */
.red {
  color: red;
}

/* line 148, ../../resources/assets/sass/app.scss */
.green {
  color: #5cb85c;
}

/* line 152, ../../resources/assets/sass/app.scss */
.ngdialog-content {
  text-align: center;
}

/* line 157, ../../resources/assets/sass/app.scss */
.icon-medium {
  font-size: 18px;
  margin-right: 0.66em;
  position: relative;
  top: 2px;
}

/* line 163, ../../resources/assets/sass/app.scss */
.icon-large {
  font-size: 28px;
  margin: 0;
  position: relative;
  top: 8px;
  margin-right: 1em;
}

/* line 171, ../../resources/assets/sass/app.scss */
.icon-float {
  float: left;
}

/* line 178, ../../resources/assets/sass/app.scss */
.ngdialog.ngdialog-theme-default.dialog-save .ngdialog-content {
  min-height: 72px;
  width: 375px;
}

/* line 184, ../../resources/assets/sass/app.scss */
.dialog-buttons {
  margin: 1em 0 0 0;
}

/* line 188, ../../resources/assets/sass/app.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 194, ../../resources/assets/sass/app.scss */
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 198, ../../resources/assets/sass/app.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 202, ../../resources/assets/sass/app.scss */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 210, ../../resources/assets/sass/app.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 214, ../../resources/assets/sass/app.scss */
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 220, ../../resources/assets/sass/app.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 226, ../../resources/assets/sass/app.scss */
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
}

/* line 231, ../../resources/assets/sass/app.scss */
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* line 238, ../../resources/assets/sass/app.scss */
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 248, ../../resources/assets/sass/app.scss */
.need-help {
  margin-top: 10px;
}

/* line 252, ../../resources/assets/sass/app.scss */
.new-account {
  display: block;
  margin-top: 10px;
}

/* line 258, ../../resources/assets/sass/app.scss */
.pull-left.checkbox {
  position: relative;
  left: 20px;
}

/* line 264, ../../resources/assets/sass/app.scss */
.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-left: -15px;
  margin-right: -15px;
}

/* line 272, ../../resources/assets/sass/app.scss */
.navbar-header {
  float: left;
  padding-left: 15px;
}

/* line 277, ../../resources/assets/sass/app.scss */
.row.nomargins {
  margin-left: 0;
  margin-right: 0;
}

/* line 281, ../../resources/assets/sass/app.scss */
.row .navbar-header {
  padding-left: 30px;
}

/* line 285, ../../resources/assets/sass/app.scss */
.navbar-brand {
  height: 50px;
  padding: 0 15px;
  font-size: inherit;
  line-height: 50px;
}

/* line 292, ../../resources/assets/sass/app.scss */
.navbar-nav {
  float: left;
  margin: 0;
}

/* line 297, ../../resources/assets/sass/app.scss */
.navbar-nav > li {
  float: left;
}

/* line 301, ../../resources/assets/sass/app.scss */
.navbar-nav > li > a {
  padding: 0 15px;
  line-height: 50px;
}

/* line 306, ../../resources/assets/sass/app.scss */
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 311, ../../resources/assets/sass/app.scss */
.omega {
  clear: left;
}

/* line 315, ../../resources/assets/sass/app.scss */
.warning {
  color: #ff9800;
}

/* line 319, ../../resources/assets/sass/app.scss */
.danger {
  color: #e51c23;
}

/* line 323, ../../resources/assets/sass/app.scss */
.messages {
  margin-left: 0;
  margin-right: 0;
}
/* line 326, ../../resources/assets/sass/app.scss */
.messages .alert {
  float: left;
  clear: both;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/* line 333, ../../resources/assets/sass/app.scss */
.glyphicon {
  margin-right: 0.5em;
}

/* line 337, ../../resources/assets/sass/app.scss */
.glyphicon-triangle-left:before {
  content: "\e251";
}

/* line 339, ../../resources/assets/sass/app.scss */
.help-block {
  display: none;
}

/* line 343, ../../resources/assets/sass/app.scss */
.has-error .help-block {
  display: block;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

@media (max-width: 768px) {
  /* line 352, ../../resources/assets/sass/app.scss */
  .toolbar-item {
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
  }

  /* line 357, ../../resources/assets/sass/app.scss */
  .right {
    float: left;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0.5em;
  }

  /* line 363, ../../resources/assets/sass/app.scss */
  h1 small,
  h2 small {
    display: block;
  }

  /* line 367, ../../resources/assets/sass/app.scss */
  h2 small.inline {
    display: inline;
  }

  /* line 371, ../../resources/assets/sass/app.scss */
  .trimmed {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  /* line 377, ../../resources/assets/sass/app.scss */
  tr td .btn {
    font-size: 10px;
    padding: 2px 4px;
  }
}
/* line 385, ../../resources/assets/sass/app.scss */
.slide-menu {
  overflow: hidden;
  *zoom: 1;
  position: fixed;
  background-color: #333;
  color: #fff;
  z-index: 99999;
  -moz-transition: all, 0.5s, ease-out;
  -o-transition: all, 0.5s, ease-out;
  -webkit-transition: all, 0.5s, ease-out;
  transition: all, 0.5s, ease-out;
}
/* line 393, ../../resources/assets/sass/app.scss */
.slide-menu.menu-right, .slide-menu.menu-left {
  height: 100%;
  width: 225px;
  top: 0;
  bottom: 0;
}
/* line 400, ../../resources/assets/sass/app.scss */
.slide-menu.menu-right {
  right: -100%;
  border-left: 1px solid #777777;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.8);
}
/* line 401, ../../resources/assets/sass/app.scss */
.slide-menu.menu-right.visible {
  right: 0;
}
/* line 409, ../../resources/assets/sass/app.scss */
.slide-menu.menu-right .close {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 415, ../../resources/assets/sass/app.scss */
.slide-menu.menu-left {
  left: -100%;
  border-right: 1px solid #777777;
  -moz-box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.8);
}
/* line 416, ../../resources/assets/sass/app.scss */
.slide-menu.menu-left.visible {
  left: 0;
}
/* line 424, ../../resources/assets/sass/app.scss */
.slide-menu.menu-left .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 430, ../../resources/assets/sass/app.scss */
.slide-menu.menu-top, .slide-menu.menu-bottom {
  width: 100%;
  left: 0;
  right: 0;
}
/* line 436, ../../resources/assets/sass/app.scss */
.slide-menu.menu-top .close, .slide-menu.menu-bottom .close {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 442, ../../resources/assets/sass/app.scss */
.slide-menu.menu-top {
  top: -100%;
  border-bottom: 1px solid #777777;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
/* line 443, ../../resources/assets/sass/app.scss */
.slide-menu.menu-top.visible {
  top: 0;
}
/* line 451, ../../resources/assets/sass/app.scss */
.slide-menu.menu-bottom {
  bottom: -100%;
  border-top: 1px solid #777777;
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8);
}
/* line 452, ../../resources/assets/sass/app.scss */
.slide-menu.menu-bottom.visible {
  bottom: 0;
}
/* line 462, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul {
  list-style: none;
  margin: 2.5em 0 0 0;
  padding: 0;
}
/* line 466, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul li {
  float: left;
  clear: both;
  width: 100%;
  -moz-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}
/* line 471, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul li a {
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  display: block;
  padding: 1em 2.5em;
  color: #fafafa;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #7a7a7a;
}
/* line 481, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul li:last-child a {
  border-bottom: none;
}
/* line 484, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul li:hover {
  background-color: #444;
}
/* line 486, ../../resources/assets/sass/app.scss */
.slide-menu .slide-menu-content ul li:hover a {
  color: rgba(144, 195, 212, 0.75);
}

/* line 496, ../../resources/assets/sass/app.scss */
.relative {
  position: relative;
}
