<div class="page-header row">
	<div class="col-md-12">
    	<h1>Editing Lead</h1>
    	<h2><small>{{::ctrl.lead.first_name}} {{::ctrl.lead.last_name}}</small></h2>
	</div>
</div>
<messages></messages>
<div class="toolbar row">
	<div class="col-md-4">
		<button id="goBack" class="btn btn-primary" ng-click="ctrl.goBack()">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go Back
		</button>
		<button id="save" class="btn btn-success" ng-click="ctrl.save()" ng-disabled="ctrl.leadForm.$invalid || ctrl.leadForm.$pristine">
			<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
		</button>
	</div>
	<div class="col-md-3 col-md-offset-5 col-xs-12 col-sm-12 text-right">
		<p>Last updated <timeago time="ctrl.lead.updated_at"></timeago></p>
		<p>Registered on Tradeshow <em><a href="#/tradeshows/{{::ctrl.lead.tradeshow_id}}/edit">{{::ctrl.lead.tradeshow_name}}</a></em></p>
	</div>
</div>

<form name="ctrl.leadForm" class="row">
	<div class="col-md-6 form-group required" ng-class="{'has-error': (ctrl.leadForm.first_name.$dirty || ctrl.leadForm.$submitted) && ctrl.leadForm.first_name.$invalid && ctrl.leadForm.first_name.$error.required}">
		<label class="control-label" for="first_name">First Name</label>
		<input type="text" class="form-control" name="first_name" ng-model="ctrl.lead.first_name" required />
		<span class="help-block">First name is required.</span>
	</div>
	<div class="col-md-6 form-group required" ng-class="{'has-error': (ctrl.leadForm.last_name.$dirty || ctrl.leadForm.$submitted) && ctrl.leadForm.last_name.$invalid && ctrl.leadForm.last_name.$error.required}">
		<label class="control-label" for="last_name">Last Name</label>
		<input type="text" class="form-control" name="last_name" ng-model="ctrl.lead.last_name" required />
		<span class="help-block">Last name is required.</span>
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="title">Title</label>
		<input type="text" class="form-control" name="title" ng-model="ctrl.lead.title" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="company_name">Company Name</label>
		<input type="text" class="form-control" name="company_name" ng-model="ctrl.lead.company_name" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="representative_name">Representative Name</label>
		<input type="text" class="form-control" name="representative_name" ng-model="ctrl.lead.representative_name" size="3" />
	</div>
	<div class="col-md-6 form-group required" ng-class="{'has-error': (ctrl.leadForm.phone_number.$dirty || ctrl.leadForm.$submitted) && ctrl.leadForm.phone_number.$invalid && ctrl.leadForm.phone_number.$error.required}">
		<label class="control-label" for="phone_number">Phone Number</label>
		<input type="text" class="form-control" name="phone_number" ng-model="ctrl.lead.phone_number" />
		<span class="help-block">Phone number is required.</span>
	</div>
	<div class="col-md-6 form-group required" ng-class="{'has-error': (ctrl.leadForm.email_address.$dirty || ctrl.leadForm.$submitted) && ctrl.leadForm.email_address.$invalid && ctrl.leadForm.email_address.$error.required}">
		<label class="control-label" for="email_address">Email Address</label>
		<input type="email" class="form-control" name="email_address" ng-model="ctrl.lead.email_address" required />
		<span class="help-block">Email address is required.</span>
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="company_email_address">Company Email Address</label>
		<input type="email" class="form-control" name="company_email_address" ng-model="ctrl.lead.company_email_address" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="address1">Address 1</label>
		<input type="text" class="form-control" name="address1" ng-model="ctrl.lead.address1" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="address2">Address 2</label>
		<input type="text" class="form-control" name="address2" ng-model="ctrl.lead.address2" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="city">City</label>
		<input type="text" class="form-control" name="city" ng-model="ctrl.lead.city" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="state">State</label>
		<input type="text" class="form-control" name="state" ng-model="ctrl.lead.state" />
	</div>
	<div class="col-md-6 form-group">
		<label class="control-label" for="zip_code">Zip Code</label>
		<input type="text" class="form-control" name="zip_code" ng-model="ctrl.lead.zip_code" />
	</div>
	<div class="col-md-6 col-xs-6 col-sm-6 form-group">
		<label class="control-label" for="existing_customer">Existing Customer</label>
		<input bs-switch type="checkbox" name="existing_customer" ng-model="ctrl.lead.existing_customer" ng-true-value="1" ng-false-value="0" />
	</div>
	<div class="col-md-6 col-xs-6 col-sm-6 form-group">
		<label class="control-label" for="contact_by_phone">Contact By Phone</label>
		<input bs-switch type="checkbox" name="contact_by_phone" ng-model="ctrl.lead.contact_by_phone" ng-true-value="1" ng-false-value="0" />
	</div>
	<div class="col-md-6 col-xs-6 col-sm-6 form-group">
		<label class="control-label" for="contact_by_email">Contact By Email</label>
		<input bs-switch type="checkbox" name="contact_by_email" ng-model="ctrl.lead.contact_by_email" ng-true-value="1" ng-false-value="0" />
	</div>
</form>