// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "compass";

.logo
{
	margin-top: 10px;
	margin-right: 15px;
	width: 70px;
	float: left;
}
.navbar-default
{
	background-color:#333;
	.navbar-brand
	{
		color: #fff;
		font-weight: 300;
	}
}
#navbar ul li a
{
	color: #fff;
}

.page-header {
	h1,h2,h3,h4,h5,h6 {
		padding-left: 0;
	}
}
table {
	margin-left: 10px;
}
table>tbody>tr.clickable
{
	cursor: pointer;
	&:hover
	{
		background-color: rgba(144, 195, 212, 0.5);
	}
	&.active > td
	{
		background-color: rgba(144, 195, 212, 0.75);
	}
}
.form-item {
	margin-bottom: 1em;
	label
	{
		display:inline-block;
		margin-right: 0.5em;
	}
	input[type="text"],
	input[type="phone"],
	input[type="email"]
	{
		display:block;
		width: 100%;
		padding:2.5px 5px;
	}
	&.required {
		label {
			position: relative;
		}
		label:after {
			content: "*";
			color: red;
			position:absolute;
			right: -15px;
			top: 0px;
			height: 10px;
			width: 10px;
		}
	}
	.bootstrap-switch {
		display: block;
	}
	&:nth-child(2n+1) {
		clear: left;
	}
}
.toolbar
{
	margin: 0.5em 0 1.5em 0;
	padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    &.buttons
    {
		margin: 0 0 1em 0;
    }
    &.filters
    {

    }
}
.toolbar-item
{
	&:first-child {
		padding-left: 0;
	}
}
.right 
{
	margin-left: 0.5em;
	float: right;
	width: auto;
	&:last-child {
		margin-left: 0;
	}
}
.busy-indicator
{
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(255,255,255,0.9);
	z-index: 9999;
	@include transition(all linear 0.15s);
	opacity: 1;
	text-align: center;
	&.ng-hide
	{
		opacity: 0;
	}
	.loading-title
	{
		margin: 0 auto;
		font-size: 22px;
		font-weight: normal;
	}
	.loading-indicator-body
	{
		position: relative;
		top: 45%;
	}
	.wave-spinner
	{
		margin: 25px auto;
	}
}
.red
{
	color: red;
}
.green
{
	color:#5cb85c;
}
.ngdialog-content
{
	text-align: center;
}

.icon-medium {
	font-size: 18px;
	margin-right: 0.66em;
	position: relative;
	top: 2px;
}
.icon-large
{
	font-size: 28px;
	margin: 0;
	position: relative;
	top: 8px;
	margin-right: 1em;
}
.icon-float
{
	float: left;
}

.ngdialog.ngdialog-theme-default.dialog-save
{
	.ngdialog-content
	{
		min-height: 72px;
		width: 375px;
	}
}
.dialog-buttons
{
	margin: 1em 0 0 0;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.pull-left.checkbox
{
	position: relative;
	left: 20px;
}

.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.row.nomargins {
	margin-left: 0;
	margin-right: 0;
}
.row .navbar-header {
	padding-left: 30px;
}

.navbar-brand {
  height: 50px;
  padding: 0 15px;
  font-size: inherit;
  line-height: 50px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 0 15px;
  line-height: 50px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.omega {
	clear: left;
}

.warning {
	color:#ff9800;
}

.danger {
	color:#e51c23;
}

.messages {
	margin-left: 0;
	margin-right: 0;
	.alert {
		float: left;
		clear: both;
		@include transition(all linear 0.15s);
	}
}

.glyphicon {
	margin-right: 0.5em;
}

.glyphicon-triangle-left:before{content:"\e251"}

.help-block {
	display: none;
}
.has-error {
	.help-block {
		display: block;
		@include transition(all linear 0.15s);
	}
}



@media (max-width: 768px) {
	.toolbar-item {
		margin-top: 5px;
		margin-bottom: 5px;
		clear: both;	
	}
	.right {
		float: left;
		margin-left: 0;
		padding-left: 0;
		margin-top: 0.5em;
	}
	h1 small,
	h2 small {
		display: block;
	}
	h2 small.inline {
		display: inline;
	}

	.trimmed {
		max-width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow-x: hidden;
	}
	tr td .btn {
		font-size: 10px;
		padding: 2px 4px;
	}
}

$slide_menu_width: 225px;
$slide_menu_border_color: #777;
.slide-menu {
	@include clearfix;
	//display: none;
	position: fixed;
	background-color: #333;
	color: #fff;
	z-index: 99999;
	@include transition(all, 0.5s, ease-out);
	&.menu-right,
	&.menu-left {
		height: 100%;
		width: $slide_menu_width;
		top: 0;
		bottom: 0;
	}
	&.menu-right {
		&.visible {
			right: 0;
		}
		right: -100%;

		border-left: 1px solid $slide_menu_border_color;
		@include box-shadow(1px 0px 2px rgba(0,0,0,0.8));

		.close {
			position: absolute;
			top: 10px;
			left: 10px;
		}
	}
	&.menu-left {
		&.visible {
			left: 0;
		}
		left: -100%;

		border-right: 1px solid $slide_menu_border_color;
		@include box-shadow(-1px 0px 2px rgba(0,0,0,0.8));

		.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	&.menu-top,
	&.menu-bottom {
		//height: $slide_menu_width - 50;
		width: 100%;
		left: 0;
		right: 0;
		.close {
			position: absolute;
			top: 10px;
			left: 10px;
		}
	}
	&.menu-top {
		&.visible {
			top: 0;
		}
		top: -100%;

		border-bottom: 1px solid $slide_menu_border_color;
		@include box-shadow(0px 1px 2px rgba(0,0,0,0.8));
	}
	&.menu-bottom {
		&.visible {
			bottom: 0;
		}
		bottom: -100%;

		border-top: 1px solid $slide_menu_border_color;
		@include box-shadow(0px -1px 2px rgba(0,0,0,0.8));
	}

	.slide-menu-content {
		ul {
			list-style: none;
			margin: 2.5em 0 0 0;
			padding: 0;
			li {
				float: left;
				clear: both;
				width: 100%;
				@include transition(background-color ease-out 0.15s);
				a {
					@include transition(color ease-out 0.15s);
					display: block;
					padding: 1em 2.5em;
					color: #fafafa;
					text-decoration: none;
					width: 100%;
					height: 100%;
					border-bottom: 1px solid #7a7a7a;
				}
				&:last-child a {
					border-bottom: none;
				}
				&:hover {
					background-color: #444;
					a {
						color: rgba(144, 195, 212, 0.75);
					}
				}
			}
		}
	}
}


.relative {
	position: relative;
}