<slide-menu></slide-menu>

<div class="page-header row">
    <h1 class="col-md-12">{{ctrl.isNew ? "Creating new" : "Editing"}} Tradeshow</h1>
    <h2 class="col-md-12" ng-show="!ctrl.isNew"><small>{{::ctrl.tradeshow.name}}</small></h2>
</div>

<messages></messages>

<!-- Toolbar, Buttons -->
<div class="row toolbar">
    <div class="col-md-4 col-xs-12 col-sm-12">
    	<button id="goBack" class="btn btn-primary" ng-click="ctrl.goBack()">
            <span class="glyphicon glyphicon-chevron-left"></span> Go Back
        </button>
        <button id="save" class="btn btn-success" ng-click="ctrl.save()" ng-disabled="ctrl.tradeshowForm.$invalid || ctrl.tradeshowForm.$pristine">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
    </div>
    <div class="col-md-offset-5 col-md-3 col-xs-12 col-sm-12 text-right" ng-show="!ctrl.isNew">
        <p>Last updated <timeago time="ctrl.tradeshow.updated_at"></timeago></p>
    </div>
</div>

<!-- Tradeshow Form -->
<form name="ctrl.tradeshowForm" class="row">
	<div class="col-md-6 col-xs-10 col-sm-10 form-group required"
        ng-class="{'has-error': (ctrl.tradeshowForm.name.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.name.$invalid && ctrl.tradeshowForm.name.$error.required}">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" type="text" id="ctrl.tradeshow_name" name="name" ng-model="ctrl.tradeshow.name" required />
        <span class="help-block">Tradeshow name is required.</span>
    </div>
	<div class="col-md-6 col-xs-10 col-sm-10 form-group required" ng-class="{'has-error': (ctrl.tradeshowForm.location.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.location.$invalid && ctrl.tradeshowForm.location.$error.required}">
        <label class="control-label" for="location">Location</label>
        <input type="text" class="form-control" name="location" ng-model="ctrl.tradeshow.location" required />
        <span class="help-block">Tradeshow location is required.</span>
    </div>
	<div class="col-md-6 col-xs-10 col-sm-10 form-group omega">
		<input bs-switch type="checkbox" switch-label="Active" ng-model="ctrl.tradeshow.active" name="active" ng-true-value="1" ng-false-value="0" />
	</div>
</form>

<!-- Leads on Tradeshow -->
<div class="lead-container" ng-show="!ctrl.isNew">
    <div class="page-header row">
        <h2 class="col-md-12">Leads <small class="inline" ng-show="ctrl.leads.length">({{ctrl.leads.length < ctrl.totalPages * ctrl.perPage ? ctrl.leads.length : ctrl.totalPages * ctrl.perPages}})</small></h2>
        <p class="col-md-12 help text-muted"><small>Click a Lead below to display a menu which will allow you to <em>edit</em> or <em>delete</em> it.</small></p>
    </div>

    <!-- Toolbar, Sorting, Filters -->
    <div class="toolbar filters row">
        <div class="toolbar-item col-md-4 col-xs-12 col-sm-12 form-inline">
            <label class="control-label" for="orderBy">Sort</label>
            <select class="form-control input-sm" name="orderBy" ng-model="ctrl.orderBy" ng-change="ctrl.refreshLeads()">
              <option value="updated_at">Updated</option>
              <option value="last_name">Surname</option>
            </select>
            <label class="control-label sr-only" for="orderByReverse">Sort Order</label>
            <select class="form-control input-sm" name="orderByReverse" ng-model="ctrl.orderByReverse" ng-change="ctrl.refreshLeads()">
              <option value="0">Ascending</option>
              <option value="1">Descending</option>
            </select>
        </div>
        <div class="toolbar-item col-md-offset-3 col-md-3 col-xs-12 col-sm-12 text-right form-inline">
            <label class="control-label" for="query">Search</label>
            <input class="form-control input-sm" type="text" name="query" ng-model="ctrl.query" ng-model-options="{debounce: 500}" ng-change="ctrl.refreshLeads()" />
        </div>
        <div class="toolbar-item col-md-2 col-xs-12 col-sm-12 text-right form-inline">
            <label class="control-label" for="perPage">Items Per Page</span>
            <select class="form-control input-sm" name="perPage" ng-model="ctrl.perPage" ng-change="ctrl.refreshLeads()">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>

    <!-- Lead Table -->
    <div class="row">
        <div class="table-responsive col-md-12">

            <table class="table table-striped">
                <thead class="text-uppercase">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th class="hidden-xs hidden-sm">Phone</th>
                    <th class="hidden-xs hidden-sm">Updated</th>
                </thead>
                <tbody>
                    <tr lead model="lead" ng-repeat="lead in ctrl.leads"></tr>
                    <tr ng-show="!ctrl.leads.length">
                        <td colspan="6">No leads available.</td>
                    </tr>
                </tbody>
            </table>

            <!-- Pager for Leads Table -->
            <pager current-page="ctrl.currentPage" total-pages="ctrl.totalPages" tradeshow-model="ctrl.tradeshow" get-results="ctrl.getLeads(num)"></pager>
        </div>
    </div>
</div>