<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form id="login_form" name="loginForm">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="ctrl.email" name="email" ng-change="ctrl.purgeMessages()">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.password" name="password" ng-change="ctrl.purgeMessages()">
            </div>
            <div class="form-group">
                <input bs-switch type="checkbox" name="rememberMe" ng-model="ctrl.rememberMe" switch-label="Remember Me" />
            </div>
            <messages></messages>
            <button class="btn btn-primary" ng-click="ctrl.login()">Submit</button>
        </form>
    </div>
</div>