<div class="page-header">
    <h1>{{titlePrefix}} Tradeshow <em>{{tradeshow ? tradeshow.name : ''}}</em></h1>
</div>
<messages></messages>
<div class="row toolbar">
	<button id="goBack" class="btn btn-primary" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go Back</button>
	<button id="save" class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
    <div class="col-md-4" style="text-align: right; float: right;" ng-show="!isNew">
        <p>Last updated on {{tradeshow.updated_at}}</p>
    </div>
</div>

<div class="row">
<form name="tradeshowForm">
	<div class="col-md-6 form-item required" 
        ng-class="{'has-error': (tradeshowForm.name.$dirty || submitted) && tradeshowForm.name.$invalid && tradeshowForm.name.$error.required}">
        <label for="name">Name</label><input id="tradeshow_name" type="text" name="name" ng-model="tradeshow.name" required />
        <span class="help-block" ng-show="(tradeshowForm.name.$dirty || submitted) && tradeshowForm.name.$invalid && tradeshowForm.name.$error.required">Tradeshow name is required.</span>
    </div>
	<div class="col-md-6 form-item required" ng-class="{'has-error': (tradeshowForm.location.$dirty || submitted) && tradeshowForm.location.$invalid && tradeshowForm.location.$error.required}">
        <label for="location">Location</label><input type="text" name="location" ng-model="tradeshow.location" required />
        <span class="help-block" ng-show="(tradeshowForm.location.$dirty || submitted) && tradeshowForm.location.$invalid && tradeshowForm.location.$error.required">Tradeshow location is required.
    </div>
	<div class="col-md-6 form-item omega">
		<label for="active">Active</label>
		<input bs type="checkbox" name="active" ng-model="tradeshow.active" ng-true-value="1" ng-false-value="0" />
	</div>
</form>    
</div>

<div class="lead-container" ng-show="!isNew">
    <div class="page-header">
        <h1>Leads <span ng-show="leads.length">({{leadCount}})</span></h1>
    </div>
    <div class="toolbar filters clearfix">
        <div class="toolbar-item">
            <span>Sort</span>
            <select ng-model="orderBy" ng-change="refreshLeads()">
              <option value="id">Newest</option>
              <option value="last_name">Surname</option>
            </select>
            <select ng-model="orderByReverse" ng-change="refreshLeads()">
              <option value="0">Descending</option>
              <option value="1">Ascending</option>
            </select>
        </div>
        <div class="toolbar-item right">
            <span>Items Per Page</span>
            <select ng-model="perPage" ng-change="refreshLeads()">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="toolbar-item right">
            <span>Search</span>
            <input type="text" ng-model="query" ng-model-options="{debounce: 500}" ng-change="refreshLeads()" />
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Created on</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-show="leads.length" ng-repeat="lead in leads">
                        <td>{{lead.first_name}}</td>
                        <td>{{lead.last_name}}</td>
                        <td>{{lead.email_address}}</td>
                        <td>{{lead.phone_number}}</td>
                        <td>{{lead.created_at}}</td>
                        <td>
                        	<a class="btn btn-warning" href="#/leads/{{lead.id}}/edit">Edit</a>
                            <a class="btn btn-danger" href="" ng-click="deleteLead(lead.id, $event)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="!leads.length">
                        <td colspan="6">No leads available.</td>
                    </tr>
                </tbody>
            </table>
            <div>
                 <lead-pagination></lead-pagination>
               </div>
        </div>
    </div>
</div>