
    <div class="page-header">
        <h1>Tradeshows</h1>
    </div>
    <messages></messages>
    <div class="toolbar buttons">
        <p class="help">Clicking a row in the tradeshow table will display a preview of its Leads below the table.<br />Click the edit button to see a more detailed view of the tradeshow and its leads.</p>
        <a class="btn btn-success" href="#/tradeshows/create" >Create</a>
    </div>
    <div class="toolbar filters clearfix">
        <div class="toolbar-item">
            <span>Sort</span>
            <select ng-model="orderBy" ng-change="refreshTradeshows()">
              <option value="id">Age</option>
              <option value="name">Name</option>
              <option value="location">Location</option>
              <option value="active">Active</option>
            </select>
            <select ng-model="orderByReverse" ng-change="refreshTradeshows()">
              <option value="0">Descending</option>
              <option value="1">Ascending</option>
            </select>
        </div>
        <div class="toolbar-item right">
            <span>Items Per Page</span>
            <select ng-model="perPage" ng-change="refreshTradeshows()">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="toolbar-item right">
            <span>Search</span>
            <input type="text" ng-model="query" ng-model-options="{debounce: 500}" ng-change="refreshTradeshows()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>LOCATION</th>
                        <th>ACTIVE</th>
                        <th class="text-right">ACTIONS</th>
                    </tr>
                </thead>

                <tbody>

                <tr markable ng-repeat="tradeshow in tradeshows" ng-click="getLeads(1, tradeshow)" data-id="{{tradeshow.id}}" class="clickable">
                    <td class="tradeshow-id">{{tradeshow.id}}</td>
                    <td>{{tradeshow.name}}</td>
                    <td>{{tradeshow.location}}</td>
                    <td>
                        <span ng-show="{{tradeshow.active}}" class="green">Active</span>
                        <span ng-hide="{{tradeshow.active}}" class="red">Inactive</span>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-warning" href="#/tradeshows/{{tradeshow.id}}/edit">Edit</a>
                        <a class="btn btn-danger" href="" ng-click="deleteTradeshow(tradeshow.id, $event)">Delete</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary" ng-click="downloadReport(tradeshow.id)" ng-show="tradeshow.lead_count > 0">Excel Report</a>
                        <a class="btn btn-primary btn-disabled disabled" ng-show="tradeshow.lead_count == 0" style="visibility: hidden">Excel Report</a>
                    </td>
                </tr>
                </tbody>
            </table>
        <div>
        <pager current-page="currentPage" total-pages="totalPages" get-results="getTradeshows(num)"></pager>
    </div>

    <div ng-show="leads != undefined">
        <div class="page-header">
            <h1>Leads for Tradeshow {{selectedTradeshow.name}}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                        <th>CREATED</th>
                        <th>ACTIONS</th>
                    </thead>
                    <tbody>
                        <tr ng-show="leads.length" ng-repeat="lead in leads">
                            <td>{{lead.first_name}}</td>
                            <td>{{lead.last_name}}</td>
                            <td>{{lead.email_address}}</td>
                            <td>{{lead.phone_number}}</td>
                            <td>{{lead.timestamp}}</td>
                            <td>
                                <a class="btn btn-warning" href="#/leads/{{lead.id}}/edit">Edit</a>
                            </td>
                        </tr>
                        <tr ng-show="!leads.length">
                            <td colspan="6">No leads available.</td>
                        </tr>
                    </tbody>
                </table>
                <pager current-page="leadCurrentPage" total-pages="leadTotalPages" tradeshow="selectedTradeshow" get-results="getLeads(num)"></pager>
            </div>
        </div>
    </div>
