<div class="page-header clearfix">
    <h1>{{ctrl.titlePrefix}} Tradeshow</h1>
    <h2 ng-show="!ctrl.isNew"><small>{{::ctrl.tradeshow.name}}</small></h2>
</div>
<messages></messages>
<div class="row toolbar">
	<button id="goBack" class="btn btn-primary" ng-click="ctrl.goBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go Back</button>
	<button id="save" class="btn btn-success" ng-click="ctrl.save()" ng-disabled="ctrl.tradeshowForm.$invalid || ctrl.tradeshowForm.$pristine"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
    <div class="right col-md-4 col-xs-12 col-sm-12" ng-show="!ctrl.isNew">
        <p>Last updated <timeago time="ctrl.tradeshow.updated_at"></timeago></p>
    </div>
</div>

<div class="row">
    <form name="ctrl.tradeshowForm">
    	<div class="col-md-6 col-xs-10 col-sm-10 form-item required"
            ng-class="{'has-error': (ctrl.tradeshowForm.name.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.name.$invalid && ctrl.tradeshowForm.name.$error.required}">
            <label for="name">Name</label><input id="ctrl.tradeshow_name" type="text" name="name" ng-model="ctrl.tradeshow.name" required />
            <span class="help-block" ng-show="(ctrl.tradeshowForm.name.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.name.$invalid && ctrl.tradeshowForm.name.$error.required">Tradeshow name is required.</span>
        </div>
    	<div class="col-md-6 col-xs-10 col-sm-10 form-item required" ng-class="{'has-error': (ctrl.tradeshowForm.location.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.location.$invalid && ctrl.tradeshowForm.location.$error.required}">
            <label for="location">Location</label><input type="text" name="location" ng-model="ctrl.tradeshow.location" required />
            <span class="help-block" ng-show="(ctrl.tradeshowForm.location.$dirty || ctrl.tradeshowForm.$submitted) && ctrl.tradeshowForm.location.$invalid && ctrl.tradeshowForm.location.$error.required">Tradeshow location is required.
        </div>
    	<div class="col-md-6 col-xs-10 col-sm-10 form-item omega">
    		<input bs-switch type="checkbox" switch-label="Active" ng-model="ctrl.tradeshow.active" name="active" ng-true-value="1" ng-false-value="0" />
    	</div>
    </form>
</div>

<div class="lead-container" ng-show="!ctrl.isNew">
    <div class="page-header">
        <h2>Leads <small class="inline" ng-show="ctrl.leads.length">({{ctrl.leads.length < ctrl.totalPages * ctrl.perPage ? ctrl.leads.length : ctrl.totalPages * ctrl.perPages}})</small></h2>
    </div>
    <div class="toolbar filters clearfix">
        <div class="toolbar-item col-md-4 col-xs-12 col-sm-12">
            <span>Sort</span>
            <select ng-model="ctrl.orderBy" ng-change="ctrl.refreshLeads()">
              <option value="updated_at">Updated</option>
              <option value="last_name">Surname</option>
            </select>
            <select ng-model="ctrl.orderByReverse" ng-change="ctrl.refreshLeads()">
              <option value="0">Ascending</option>
              <option value="1">Descending</option>
            </select>
        </div>
        <div class="toolbar-item right col-md-4 col-xs-12 col-sm-12">
            <span>Items Per Page</span>
            <select ng-model="ctrl.perPage" ng-change="ctrl.refreshLeads()">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="toolbar-item right col-md-4 col-xs-12 col-sm-12">
            <span>Search</span>
            <input type="text" ng-model="ctrl.query" ng-model-options="{debounce: 500}" ng-change="ctrl.refreshLeads()" />
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th class="hidden-xs">Email</th>
                    <th class="hidden-xs hidden-sm">Phone</th>
                    <th class="hidden-xs hidden-sm">Created on</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr class="lead-row" data-id="{{lead.id}}" ng-show="ctrl.leads.length" ng-repeat="lead in ctrl.leads">
                        <td>{{lead.first_name}}</td>
                        <td>{{lead.last_name}}</td>
                        <td class="hidden-xs">{{lead.email_address}}</td>
                        <td class="hidden-xs hidden-sm">{{lead.phone_number}}</td>
                        <td class="hidden-xs hidden-sm"><timeago time="lead.created_at"></timeago></td>
                        <td>
                        	<a class="btn btn-warning" href="#/leads/{{lead.id}}/edit">Edit</a>
                            <a class="btn btn-danger" href="" ng-click="ctrl.deleteLead(lead.id)">Delete</a>
                        </td>
                    </tr>
                    <tr ng-show="!ctrl.leads.length">
                        <td colspan="6">No leads available.</td>
                    </tr>
                </tbody>
            </table>
            <pager current-page="ctrl.currentPage" total-pages="ctrl.totalPages" tradeshow="ctrl.tradeshow" get-results="ctrl.getLeads(num)"></pager>
        </div>
    </div>
</div>

<slide-menu alignment="bottom">
    <ul>
        <li>Test</li>
        <li>Test 2</li>
        <li>Test 3</li>
    </ul>
</slide-menu>