<slide-menu></slide-menu>

<div class="page-header row">
    <h1 class="col-md-12">Tradeshows</h1>
</div>

<messages></messages>

<!-- Toolbar, Buttons -->
<div class="toolbar buttons row">
    <p class="help col-md-12 text-muted">
        Click a row in the tradeshow table to display a menu which allows you to 
        <em>edit</em> it, <em>delete</em> it, or <em>download an Excel report</em>.
        <br>
        Selecting a tradeshow will load its leads below the tradeshow table.
        <br><br>
        <a class="btn btn-success col-md-1" href="#/tradeshows/create">
            <span class="glyphicon glyphicon-pencil"></span>Create
        </a>
    </p>
</div>

<!-- Filters, Sorting -->
<div class="toolbar filters clearfix">
    <form id="tradeshowFilterForm" name="ctrl.tradeshowFilterForm" class="row">
        <div class="toolbar-item col-md-4 col-xs-12 col-sm-12 form-inline">
            <input type="hidden" name="currentPage" ng-model="ctrl.currentPage" />
            <label class="control-label" for="orderBy">Sort</label>
            <select class="form-control input-sm" name="orderBy" ng-model="ctrl.orderBy" ng-change="ctrl.refreshTradeshows()">
              <option value="updated_at">Updated</option>
              <option value="name">Name</option>
              <option value="location">Location</option>
              <option value="active">Active</option>
            </select>
            <label class="control-label sr-only" for="orderByReverse">Sort Order</label>
            <select class="form-control input-sm" name="orderByReverse" ng-model="ctrl.orderByReverse" name="orderByReverse" ng-change="ctrl.refreshTradeshows()">
              <option value="0">Ascending</option>
              <option value="1">Descending</option>
            </select>
        </div>
        <div class="toolbar-item col-md-offset-3 col-md-3 col-xs-12 col-sm-12 text-right form-inline">
            <label class="control-label" for="query">Search</label>
            <input class="form-control input-sm" type="text" name="query" ng-model="ctrl.query" ng-model-options="{debounce: 500}" ng-change="ctrl.refreshTradeshows()" />
        </div>
        <div class="toolbar-item col-md-2 col-xs-12 col-sm-12 text-right form-inline">
            <label class="control-label" for="perPage">Items Per Page</label>
            <select class="form-control input-sm" name="perPage" ng-model="ctrl.perPage" ng-change="ctrl.refreshTradeshows()">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </form>
</div>

<!-- Tradeshow Table -->
<div class="row">
    <div class="table-responsive col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th class="hidden-xs hidden-sm">LOCATION</th>
                    <th>ACTIVE</th>
                    <th>UPDATED</th>
                </tr>
            </thead>

            <tbody>
                <tr tradeshow model="tradeshow" ng-repeat="tradeshow in ctrl.tradeshows"></tr>
                <tr ng-show="!ctrl.tradeshows.length">
                    <td colspan="5">No tradeshows available.</td>
                </tr>
            </tbody>
        </table>

        <!-- Tradeshow Pager -->
        <pager current-page="ctrl.currentPage" total-pages="ctrl.totalPages" get-results="ctrl.getTradeshows(num)"></pager>
    </div>
</div>


<!-- Leads for Tradeshow -->
<div ng-show="ctrl.leads != undefined" class="col-md-12">
    <div class="row">
        <div class="page-header col-md-12">
            <h2>Leads for Tradeshow<br><small>{{ctrl.selectedTradeshow.name}}</small></h2>
        </div>
    </div>

    <!-- Lead Table -->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>EMAIL</th>
                    <th class="hidden-xs hidden-sm">PHONE</th>
                    <th class="hidden-xs hidden-sm">UPDATED</th>
                </thead>
                <tbody>
                    <tr lead model="lead" ng-repeat="lead in ctrl.leads"></tr>
                    <tr ng-show="!ctrl.leads.length">
                        <td colspan="5">No leads available.</td>
                    </tr>
                </tbody>
            </table>

            <!-- Lead Pager -->
            <pager current-page="ctrl.leadCurrentPage" total-pages="ctrl.leadTotalPages" tradeshow-model="ctrl.selectedTradeshow" get-results="ctrl.getLeads(num)"></pager>
        </div>
    </div>
</div>